
.DS_Store
__pycache__/
.env/
config.python

#Other project files
        ../.DS_Store
        ../DSA_visualizer/
        ../Titanic-ml-model_/
        ../draft_website/
        ../games/
        .env/